*{
	font-family: 'Sharp Sans', sans-serif;
	box-sizing: border-box;
}

#wrapper {
	width: 1200px;
	margin: 20px auto;
}


header {

}


.label {
	width: 105px;
	height: 25px;
	background: #ffffff;
	border-radius: 20px;
	padding-left: 15px;

}

.label-text {
	font-size: 14px;
	font-weight: 500;
	color: #00ab8e;
	padding-top: 3px;
}

.logo {
	width: 175px;
	height: 60px;
	float: left;
	margin-bottom: 10px;
	margin-left: -30px;
}

.nav {
	border: 0.5px solid green;
	background: pink;
	width: 175px;
	height: 65px;
	float: right;
	margin-bottom: 10px;
}

.full-width-block {
	clear: both;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hero {
	clear: both;
	width: 100%;
	height: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hero-copy {
	width: 350px;
	height: 215px;
	margin-top: 70px;
	margin-left: 120px;
	position: absolute;

}

/*.parallax-container {
	background-image: url('images/drmehtahero.jpg');
	height: 350px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.first-col-one {
	float: left;
	width: 25%;
	height: 150px;
	margin: 10px 25px 20px 90px;
	padding: 10px;
}

.first-col-two {
	display: inline-block;
	width: 25%;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 50px;
	padding: 10px;

}

.first-col-three {
	display: inline-block;
	width: 25%;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 10px;
}

.second-col-one {
	float: left;
	width: 38%;
	height: 500px;
	margin-top: 20px;
	padding: 30px;
	background: #00ab8e;
	display: inline-block;

}

.second-col-two {
	display: inline-block;
	width: 59%;
	height: 440px;
	margin-top: 20px;
	position: relative;
}

.pull-quote {
	background: #4e008e;
	width: 100%;
	height: 210px;
	padding-top: 3px;
	padding-left: 120px;
	padding-right: 120px;
	display: inline-block;
}

.third-col-one {
	float: left;
	width: 45%;
	height: 620px;
	padding: 10px 15px 10px 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.third-middle-rule {
	width: 2%;
	height: 590px;
	margin-left: 25px;
	border-right: 0.5px solid #40c1ac;
	display: inline-block;
	margin-top: 25px;
}

.third-col-two {
	float: right;
	width: 45%;
	height: 620px;
	padding: 10px 15px 10px 15px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.fourth-sec-top {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.fourth-col-one {
	display: inline-block;
	float: left;
	width: 18%;
	height: 270px;
	margin: 10px 8px 10px 0px;
	padding: 10px;
}

.fourth-col-two {
	width: 20%;
	height: 270px;
	margin: 10px 8px 10px 0px;
	display: inline-block;
	padding: 10px;
	float: left;
}

.fourth-col-three {
	width: 21%;
	height: 270px;
	margin: 10px 10px 10px 0px;
	float: left;
	display: inline-block;
	padding: 10px;

}

.fourth-col-four {
	width: 19%;
	height: 270px;
	margin: 10px 8px 10px 0px;
	display: inline-block;
	float: left;
	padding: 10px;

}

.fourth-col-five {
	width: 18%;
	height: 270px;
	margin: 10px 8px 10px 0px;
	display: inline-block;
	float: left;
	padding: 10px;

}

footer {
	clear: both;
	background: #4e008e;
	width: 100%;
	height: 250px;
}

.footer-one {
	padding-left: 20px;
	float: left;
	margin-top: 10px;
}

.footer-two {
	padding-right: 20px;
	text-align: right;
	float: right;
	margin-top: 10px;
}


/* TEXT PROPERTIES */

h1 {
	font-size: 50px;
	font-weight: 700;
	color: #40c1ac;
}

h2 {
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
}

h3 {
	font-size: 24px;
	color: #40c1ac;
}

h4 {
	font-size: 30px;
	color: #ffffff;
	text-align: left;
	line-height: 40px;

}

h5 {
	font-size: 30px;
	font-family: 'Sharp Sans', sans-serif;
	font-weight: 600;
	color: #ffffff;
	float: left;
}

p {
	font-size: 16px;
	line-height: 20px;

}

.para-white {
	color: #ffffff;
}

.para-white-two {
	color: #ffffff;
}

.teal-callout-header {
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	line-height: 26px;
}

.teal-body {
	font-size: 16px;
	color: #ffffff;

}

.nexus {
	padding-top: 10px;
	padding-left: 3px;
}

.pic-text {
	display: inline-block;
	float: left;
	line-height: 0px;
	margin-top: -15px;
}

.hear {
	color: #40c1ac;
	font-weight: 600;
	font-size: 18px;
	margin-top: -19px;
}

.attribution {
	color: #ffffff;
	font-weight: 500;
	text-align: right;
	line-height: 5px;
}

.orange {
	color: #e35205;
	font-size: 38px;
	line-height: 46px;
}

.mob {
	display: block;
}


/* IMAGE PROPERTIES */

.mehta-office {
	width: 744px;
	height: 500px;
	position: relative;
}

.result-icons {
	padding-left: 35px;
}

.play-button {
	width: 40px;
	height: 40px;
}


/*SLIDESHOW*/

#slides{
	position: relative;
	height: 150px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.controls {
	position: absolute;
	z-index: 3;
	display: block;
}


.slide:nth-of-type(1){
	background: red;
}
.slide:nth-of-type(2){
	background: orange;
}
.slide:nth-of-type(3){
	background: green;
}


.showing{
	opacity: 1;
	z-index: 2;
}


/* MOBILE RESPONSIVE */

@media (max-width: 450px) {
	html {
	
	}

	body {
		font-size: 1rem;
		margin: auto;
	}

	.orange {
		font-size: 24px;
		line-height: 30px;
	}

	.logo {
		margin-left: 5px;
	}

	#wrapper {
		width: 400px;
	}

	.nav {
		display: none;
	}

	.hero {
		background-color: #4e008e;
	}

	.hero-copy {
		margin-left: 30px;

	}


	.hide {
		display: none;
	}	

	.first-col-one {
		width: 100%;
		height: 100px;
		margin-left: 10px;
		float: left;

	}

	.first-col-two {
		width: 100%;
		height: 100px;
		float: left;
		margin-left: 10px;
	}

	.first-col-three {
		width: 100%;
		height: 100px;
		float: left;
		margin-left: 10px;
	}

	.second-col-one {
		width: 100%;
		height: 575px;
		float: left;
	}

	.second-col-two {
		display: none;
	}

	.pull-quote {
		width: 100%;
		height: 400px;
		padding: 20px;

	}

	.third-col-one {
		width: 100%;
		float: left;
		height: 680px;
	}

	.third-middle-rule {
		display: none;
	}

	.third-col-two {
		width: 100%;
		float: left;
		height: 680px;

	}

	.full-width-block {
		width: 100%;
		float: left;
		height: 225px;
		margin-left: 10px;
	}

	.fourth-sec-top {
		width: 100%;
		display: inline-block;
		height: 100px;
		margin-left: 10px;
	}

	.mob {
		width: 100%;
		display: block;
	}

	.fourth-col-one {
		clear: both;
		width: 75%;
		float: left;
		display: block;
		height: 175px;
		margin: 0 auto;
	}

	.fourth-col-two {
		width: 75%;
		float: left;
		display: block;
		height: 175px;
		margin: 0 auto;
	}

	.fourth-col-three {
		width: 75%;
		float: left;
		display: block;
		height: 175px;
		
	}

	.fourth-col-four {
		width: 75%;
		height: 175px;
		float: left;
		display: block;
		margin-left: 40px;
	}

	.fourth-col-five {
		width: 75%;
		height: 175px;
		float: left;
		display: block;
		margin-left: 40px;
	}

	.footer-one {
		height: 100px;
	}

	.footer-two {
		clear: both;
		display: inline-block;
		height: 130px;
		margin-top: 150px;
		margin-bottom: 10px;
	}

	.para-white-two {
		color: #4e008e;
	}

}






